div {
  margin: 10px;
  padding: 5px;
}

#father {
  border: 1px solid #000;
}

.layer01 {
  border: 1px dashed #f00;
}
.layer02 {
  border: 1px dashed #00f;
}
.layer03 {
  border: 1px dashed #0f0;
}
.layer04 {
  border: 1px dashed #666;
  font-size: 12px;
  line-height: 23px;
}
